#nav {
  background-color: #99aa38 !important;
}

#footer {
  background-color: #99aa38 !important;
}

.device-card {
  padding: 5px;
  border: #d3f3ee 5px solid;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 10px 15px #d3f3ee;
}


.slider {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: relative;
  /* overflow: hidden; */
}

.slide {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

